
<p>
  <b>User:</b>
  <%= @page.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @page.title %>
</p>

<p>
  <b>Content:</b>
  <br />
  <%= raw show_markdown( @page.content ) %>
</p>

<%= link_to t( "menu.edit", default: "Edit" ), action: "edit", id: @page.id %>
 | <%= link_to t( "menu.list", default: "List" ), action: "index" %>